$color-first: #D42026;
$color-second: #D20A0A;

$font-family: 'Roboto', sans-serif;

$font-black: 900;
$font-regular: 400;
$font-light: 300;

$font-color-first:#D42026;
$font-color-second:#4E4E4E;
$font-color-third:#FFF;
$font-color-fourth:#FBCA03;

$font-size-first: 2.7rem;
$font-size-second: 2.1rem;
$font-size-third: 1.6rem;

$border-radius: 4px;