$color-first: #d42026;
$color-second: #d20a0a;

$font-family: "Roboto", sans-serif;

$font-black: 900;
$font-regular: 400;
$font-light: 300;

$font-color-first: #d42026;
$font-color-second: #4e4e4e;
$font-color-third: #fff;
$font-color-fourth: #fbca03;

$font-size-first: 2.7rem;
$font-size-second: 2.1rem;
$font-size-third: 1.6rem;

$border-radius: 4px;
